openapi: 3.2.0
info:
  title: Certn Teams and Users API
  description: Certn is a background check and identity verification platform.
  version: '1.0'
  contact:
    name: Certn
    url: https://certn.co
  license:
    name: Proprietary
    url: https://certn.co/terms/
servers:
- url: https://api.certn.co
  description: Production
- url: https://demo-api.certn.co
  description: Demo / testing
security:
- bearerAuth: []
tags:
- name: Teams and Users
  description: Organizational hierarchy - Superteams, Teams, Users, reference templates.
paths:
  /api/v1/users/:
    get:
      operationId: listUsers
      tags:
      - Teams and Users
      summary: List users in the account
      description: Retrieve a list of users in your organizational account. Each user is returned with a UUID id and profile fields.
      x-endpoint-status: confirmed
      responses:
        '200':
          description: A list of users.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/teams/:
    get:
      operationId: listTeams
      tags:
      - Teams and Users
      summary: Retrieve all teams
      description: Retrieve all teams in the account. Superteams contain Teams which contain Users. (Deprecated in the v1/v2 API.)
      deprecated: true
      x-endpoint-status: confirmed
      responses:
        '200':
          description: A list of teams.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/teams/{team_id}/address/reference_templates/:
    get:
      operationId: getAddressReferenceTemplates
      tags:
      - Teams and Users
      summary: Retrieve address reference templates
      description: Retrieve the templated address-reference questionnaires configured for a team, including question types (TRUE_FALSE, MULTIPLE_CHOICE, NUMERIC_RANGE, LONG_ANSWER) and variable substitution. (Deprecated in the v2 API.)
      deprecated: true
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          description: A list of address reference templates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReferenceTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ReferenceTemplate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        questions:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
              type:
                type: string
                enum:
                - TRUE_FALSE
                - MULTIPLE_CHOICE
                - NUMERIC_RANGE
                - LONG_ANSWER
              required:
                type: boolean
              verifiable:
                type: boolean
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
    Team:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        superteam:
          type: string
          format: uuid
    Error:
      type: object
      properties:
        detail:
          type: string
        code:
          type: string
  parameters:
    TeamId:
      name: team_id
      in: path
      required: true
      description: The UUID of the team.
      schema:
        type: string
        format: uuid
  responses:
    Unauthorized:
      description: Missing or invalid Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 client credentials. Exchange your Client ID and Client Secret for an access token, then send it as "Authorization: Bearer {token}".'
